<div class="container">
  <hr>
  <h3>Recent posts</h3>
  <hr>
  <div *ngIf="blogs.length == 0">No recent blogs found</div>
  <div class="blog" *ngFor="let blog of blogs">
      <h2>{{blog.title}}</h2>
      <div [innerHTML]="blog.content"></div>
      <p><b>{{blog.author}}</b></p>
      <p>Created at: {{blog.createdAt | date : 'd.M.y, HH:mm'}} - Expires at: {{blog.expiresAt | date : 'd.M.y, HH:mm'}}</p>
  </div>
</div>
